@import "base/base";
@import "base/typography";

.part1 {
    background: url("/img/banner_image_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // min-width: 100%;
    min-height: 50rem;
    margin-bottom: 2rem;
    filter: brightness(70%);
}




.top-menu {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-bottom: 3px;

    &-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        position: relative;
        font-size: 1.2rem;

        &-1 {
            display: inline;
            list-style-type: none;
            position: absolute;
            margin-bottom: 0.5rem;
            padding: .5rem;
            bottom: 1px;
            left: 15rem;

            a {
                text-decoration: none;
                color: white;
            }
        }

        &-2 {
            display: inline;
            padding: .5rem;
            tex-items: center;
            list-style-type: none;
            text-decoration: none;
            position: absolute;
            margin-bottom: 0.5rem;
            bottom: 1px;
            right: 15rem;

            a {
                text-decoration: none;
                color: white;
            }
        }


    }

}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    border-top: 1px solid white;

    p {
        position: absolute;
        margin-top: 1.5rem;
        top: 0px;
        left: 15rem;
        color: white;
    }



    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 1.5rem;
        right: 15rem;
        width: 30%;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: white;
                font-size:1.4rem;
            }





        }




    }

}

.logo {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1.5rem;

    &-img {
        width: 10rem;
        height: 10rem;
    }

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-size: 3rem;
        font-weight: bolder;
    }

    &-button{
       
        width: 20rem;
        height: 3.5rem;
        border-radius: 30rem;
        color: white;
        background-color: rgb(10, 209, 10);
        outline: none;
        border: none;
    }
    
   

}



.part2 {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    h2 {
        margin-top: 6rem;
        display: flex;
flex-direction: row;

font-size: 3rem;

    }

    p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        text-align: center;
width: 25%;
       
    }


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
     height: 40rem;
    // border: 1px solid red;

   

    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: hsla(30, 24%, 89%, 0.7);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 25%;
        height: 350px;

        div {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;


            p {
                width: 100%;
            }



        }

        &-nature{
            color: green;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2.5rem;
            
        }

        &-icon {
            margin-top:4rem;
        }



    }

}

// Media query for small devices like phones
@media screen and (max-width: 480px) {
    .container {
      padding: 0 10px;
    }
  }
  
  // Media query for medium devices like tablets
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  // Media query for large devices like laptops and desktops
  @media screen and (min-width: 769px) {
    .container {
      max-width: 1200px;
    }
  }


.footer {


    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;

    

    &-image {
        width: 100%;
        height: 40rem;
        margin-top: 5px;
        background-image: url('/img/banner_image_2.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    &-copy-write{
        margin-top: 4rem;
        font-size: 1.3rem;
    }





}