@font-face {
    font-family: fa-brands;
    src: url("../../fonts/font-awesome/webfonts/fa-brands-400.woff");
}

  @font-face {
    font-family: fa-regular;
    src: url("../../fonts/font-awesome/webfonts/fa-regular-400.woff");
}


  @font-face {
    font-family: fa-solid;
    src: url("../../fonts/font-awesome/webfonts/fa-solid-400.woff");
}

// Lato

  @font-face {
    font-family: LatoReg;
    src: url("../../fonts/Lato/Lato-Regular.ttf");
}

  @font-face {
    font-family: LatoBlack;
    src: url("../../fonts/Lato/Lato-Black.ttf");
}

//   Lato-BlackItalic

@font-face {
    font-family: Lato-BlackItalic;
    src: url("../../fonts/Lato/Lato-BlackItalic.ttf");
}


  @font-face {
    font-family: LatoBold;
    src: url("../../fonts/Lato/Lato-Blod.ttf");
}

// Lato-BoldItalic
  @font-face {
    font-family: Lato-BoldItalic;
    src: url("../../fonts/Lato/Lato-BoldItalic.ttf");
}

  @font-face {
    font-family: Lato-Hairline;
    src: url("../../fonts/Lato/Lato-Hairline.ttf");
}

  @font-face {
    font-family: Lato-HairlineItalic;
    src: url("../../fonts/Lato/Lato-HairlineItalic.ttf");
}

  // Lato-Italic

  @font-face {
    font-family: Lato-Italic;
   src: url("/fonts/Lato/Lato-Italic.ttf");
}
// Lato-Light

@font-face {
    font-family: Lato-Light;
    src: url("../../fonts/Lato/Lato-Light.ttf");
}

//  Lato-LightItalic

@font-face {
    font-family: Lato-LightItalic;
    src: url("../../fonts/Lato/Lato-LightItalic.ttf");
}

//   Oswald

@font-face {
    font-family: Oswald-Bold;
    src: url("../../fonts/Oswald/Oswald-Bold.ttf");
  }

  @font-face {
    font-family: Oswald-ExtraLight;
    src: url("../../fonts/Oswald/Oswald-ExteralLight.ttf");
  }

  @font-face {
    font-family: Oswald-Light;
    src: url("../../fonts/Oswald/Oswald-Light.ttf");
  }

 

  @font-face {
    font-family: Oswald-Medium;
    src: url("../../fonts/Oswald/Oswald-Medium.ttf");
  }

  @font-face {
    font-family:  Oswald-Regular;
    src: url('../../fonts/Oswald/Oswald-Regular.ttf');
  }



  @font-face {
    font-family:   Oswald-SemiBold;
    src: url('../../fonts/Oswald/Oswald-SemiBold.ttf');
  }