* {
   
    box-sizing: border-box;
    
   
}

html {
    font-size: 62.5%;
}

body {

   display: grid;
   grid-template-columns: auto;
   font-weight: 300;
   font-family: 'Oswald', sans-serif;
   background-color: lightgrey;
   margin: 0;
   padding: 0;


}





